body {
    font-family: sans-serif;
    background-color: lightgrey;
    margin-top: 75px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}
.text-medium {
    font-size: 60px;
}
.text-huge {
	font-size:10px;
}
.italic {
	font-weight: italic;
}
.toplogo {
	top: 0;
	left: 300;
	width: 150;
	height: 150;
	position: fixed;
	z-index: 1;
	background-color: white;
}
.banner {
	top: 0;
	left: 450;
	width: 800;
	height: 125;
	position: fixed;
	background-color: #120A8F;
	Overflow-y: hidden;
	padding-top: 30px;
	padding-left: 60px;
	font-size: 60px;
	color: White;
	font-weight: bold;
	font-family: Sans-serif;
}
.contentmatter {
    top: 150;
    left: 300;
    width: 950;
    height:100%;
    z-index: 1;
    background-color: white;
    padding-top:20px;
    padding-left: 125px;
    font-size: 16px;
    color: black;
    font-weight: normal;
    font-family: serif;
}

